.modal-like-form {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 100%;


  max-width: 600px; /* Adjust as needed */
}

.modal-like-header {
  margin-top: 0;
}

.form-row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px; /* Adjust as needed */
}

.form-group {
  flex: 1;
  margin: 0 10px; /* Adjust as needed */

}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
}

.btn-primary {
  margin-top: 10px;
  width: 100%;
}


#icon_details{
    height: 30px;
}

#edit_button{
    height: 30px;
    padding: 0px;
}

#check_button{
    height: 25px;
}

#x_button{
    height: 25px;
}



#user{
height: 120px;
padding: 20px;
/* border: 3px solid black; */
}
#processor{
height: 120px;
padding: 15px;

}

#Mobo{
height: 120px;
padding: 15px;

}

#PS{
height: 120px;
padding: 15px;

}

#ram{
height: 120px;
padding: 15px;

}

#storage{
height: 120px;
padding: 30px;

}

#OS{
height: 120px;
padding: 20px;

}

#status{
height: 120px;
padding: 25px;

}

#save_button{
    height: 45px;
    width: 95px;
}
#clear_button{
    height: 45px;
    width: 95px;
}

#user_button{
    border: 3px solid black;
}
#processor_button{
    border: 3px solid black;
}
#motherboard_button{
    border: 3px solid black;
}
#power_suppy_button{
    border: 3px solid black;
}
#ram_button{
    border: 3px solid black;
}

#storage_button{
    border: 3px solid black;
}

#os_button{
    border: 3px solid black;
}

#status_button{
    border: 3px solid black;
}

#dept_combo_box{
    width: 90%;
    margin-top: 10px;
    margin-left: 20px;
    padding: 0px;
}



#process_combo_box{
   width: 90%;
    margin-top: 10px;
    margin-left: 20px;
    padding: 0px;
}

#core_combo_box{
    width: 90%;
    margin-top: 10px;
    margin-left: 20px;
    padding: 0px;
}

#ram_combo_box{
    width: 90%;
    margin-top: 10px;
    margin-left: 20px;
    padding: 0px;
}

#motherboard_details{
     width: 90%;
    margin-top: 10px;
    margin-left: 20px;
    padding: 0px;
}

#brand{
    width: 90%;
    margin-top: 10px;
    margin-left: 20px;
    padding: 0px;
}

#ps_brand{
     width: 90%;
    margin-top: 10px;
    margin-left: 20px;
    padding: 0px;
}

#ram_brand{
    width: 90%;
    margin-top: 10px;
    margin-left: 20px;
    padding: 0px;
}

#storage_brand{
    width: 90%;
    margin-top: 10px;
    margin-left: 20px;
    padding: 0px;
}

#gb_combo_box{
     width: 90%;
    margin-top: 10px;
    margin-left: 20px;
    padding: 0px;
}

#storage_combo_box{
   width: 90%;
    margin-top: 10px;
    margin-left: 20px;
    padding: 0px;
}

#OS_combo_box{
     width: 90%;
    margin-top: 10px;
    margin-left: 20px;
    padding: 0px;
}

#size{
   width: 90%;
    margin-top: 10px;
    margin-left: 20px;
    padding: 0px;
}

#watts{
    width: 90%;
    margin-top: 10px;
    margin-left: 20px;
    padding: 0px;
}

#user_text{
     width: 90%;
    margin-top: 10px;
    margin-left: 20px;
    padding: 0px;
}

#cpu_details{
    width: 90%;
    margin-top: 10px;
    margin-left: 20px;
    padding: 0px;
}
#comtag{
    width: 90%;
    margin-top: 10px;
    margin-left: 20px;
    padding: 0px;
}

#nettag{
     width: 90%;
    margin-top: 20px;
    margin-left: 20px;
    padding: 0px;
}

#nettag{
     width: 90%;
    margin-top: 20px;
    margin-left: 20px;
    padding: 0px;
}

#eset{
     width: 90%;
    margin-top: 15px;
    margin-left: 20px;
    padding: 0px;

}

#btn_eset{

    border-color: #b7b7b7;
}





#ups{
     width: 90%;
    margin-top: 10px;
    margin-left: 20px;
    padding: 0px;
}

#opstat{
     width: 90%;
    margin-top: 10px;
    margin-left: 20px;
    padding: 0px;
}

#MS_combo_box{
    width: 90%;
    margin-top: 10px;
    margin-left: 20px;
    padding: 0px;
}

#computer_name{
    width: 90%;
    margin-top: 10px;
    margin-left: 20px;
    padding: 0px;
}

#ip{
    width: 90%;
    margin-top: 10px;
    margin-left: 20px;
    padding: 0px;
}

#asset_tag{
    width: 90%;
    margin-top: 10px;
    margin-left: 20px;
    padding: 0px;
}

#serial_number{
    width: 90%;
    margin-top: 10px;
    margin-left: 20px;
    padding: 0px;
}



#mobo_combo_box{
    width: 90%;
    margin-top: 10px;
    margin-left: 20px;
    padding: 0px;
}

#ps_combo_box{
  width: 90%;
    margin-top: 10px;
    margin-left: 20px;
    padding: 0px;
}


#search_bar{
    width: 90%;
    width: 250px;
    margin-top: 10px;
    margin-left: 40px;
    margin-bottom: 20px;
    padding: 0px;
}



#filter_button{
    width: 20px;
    margin-top: 10px;
    padding-left: 0px;


}

.btn-primary-outline {

    border-color: #1D1D98; /* Border color */
}

.btn-primary-outline:hover{
     background-color: #1D1D98; /* Hover color */
    border-color: #1D1D98; /* Hover border color */
    color: white;
}

.btn-primary-solid {

     background-color: #1D1D98; /* Replace "your-color" with your desired color */
    border-color:#1D1D98;
    color: white;
}

.btn-primary-solid:hover{
     background-color: #1D1D98; /* Replace "your-color" with your desired color */
    border-color:#1D1D98;
    color: white;
}





#menu_bar{
    background-color: #474747;
    height: 75px;
}

#logo{
    height: 75px;
    width: 80px;
}

#filter{
    height: 45px;
    width: 40px;
    margin-left: 0px;
}

#home{
    height: 30px;
    width: 30px;
    margin: 5px;

}

#add_inventory{
    height: 30px;
    width: 30px;
  margin: 5px;

}

#logs{
    height: 30px;
    width: 30px;
  margin: 5px;
}

#table_color{
    background-color: #ececec;
}

#body_color{
    background-color: #F8F8FF;
}
#navigation{
    padding: 0;
}

#top_set{
    margin-top: 37px;
}

#bottom_set{
    margin-top: 25px;
}



#detail_row{
    margin-top: 55;
}

#btn_back{
    height: 45px;
    width: 95px;
}

#column{

    margin-left: 150px;
    margin-right: 150px;
    padding-top: 50px;
    padding-bottom: 20px;

}


#details_color{
    background-color: white;
}

#tbl_main_page tbody td {
    text-align: center;
            }

#tbl_main_page thead th {
    text-align: center;
}

#btn_group{
    padding: 10px;
     margin: auto;
    width: 60%;
}

#btn_clear{
    background-color: white;
    border: 2px solid red;
    outline: none;
    width: 15%;
    color: red;
}

 #btn_clear:hover {
    border-color: red;
    background-color: red;
    color: white;
  }

#btn_confirm{
    background-color: blue;
    border: 2px solid transparent;
    outline: none;
    width: 15%;
}







