<nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand">eDevInventory</a>

      <button type="button" class="btn btn-outline-dark">Home</button>
      <button type="button" class="btn btn-outline-dark">Inventory</button>
      <button type="button" class="btn btn-outline-dark">Logs</button>
    <form class="d-flex" role="search">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-dark btn-sm" type="submit">Search</button>
    </form>
  </div>
</nav>