<nav id="navigation" class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid " id="menu_bar">
    <a class="navbar-brand" href="#"> <img src="static/icons/logo.png" class="img-fluid" id="logo"> eInventory </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">

      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/"><img src="static/icons/home.png" class="img-fluid" id="home"></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/Add_Inventory"><img src="static/icons/add_inventory.png" class="img-fluid" id="add_inventory"></a>
        </li>
                <li class="nav-item">
          <a class="nav-link" href="#"><img src="static/icons/logs.png" class="img-fluid" id="logs"></a>
        </li>
      </ul>
      <!--
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-primary-outline" type="submit">Search</button>
      </form>
      -->
    </div>
  </div>
</nav>