
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        Add Inventory
    </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <link rel="stylesheet" href="static/css/design.css">
</head>
{% include 'Header.html' %}
<body>





<div class="row d-flex justify-content-center"  id="column">


    <div class="col-md-3">

        <div class="row">

            <div class="mb-3">
                <div class="modal-like-form2">
                    <h4 class="modal-like-header">USER INFORMATION</h4>

    <form method="POST" action ="{{ url_for('update_department') }}">
    <div class="col-md-3" id="dept_combo_box">
    <label class="fw-semibold">DEPARTMENT</label>  <button id="check" class="btn" type="button" data-bs-toggle="modal" data-bs-target="#modal_check"><a href="#"><img src="static/icons/check.png" id="check_button"></a></button>
    <div class="modal" id="modal_check">
    <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">UPDATE CHANGES</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to update this field?</p>
      </div>
      <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Confirm</button>
            <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Cancel</button>

      </div>
    </div>
  </div>
</div>
                <input type="hidden" name="field" value="Department">
                <input type="hidden" name="id" value="{{ id }}">
                 <input type="hidden" class="form-control" name="old_department" value="{{ department }}">
                <input type="text" class="form-control" name="new_department" value="{{ department }}">
            </div>
    </form>
        <form method="POST" action ="{{ url_for('update_username') }}">
         <div class="col-md-3" id="user_text">
          <label class="fw-semibold">USER NAME</label>
             <button id="user_check" class="btn" type="button" data-bs-toggle="modal" data-bs-target="#modal_user_check"><a href="#"><img src="static/icons/check.png" id="check_button"></a></button>
    <div class="modal" id="modal_user_check">
    <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">UPDATE CHANGES</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to update this field?</p>
      </div>
      <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Confirm</button>
            <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Cancel</button>

      </div>
    </div>
  </div>
</div>
             <input type="hidden" name="field" value="Username">
             <input type="hidden" name="id" value="{{ id }}">
             <input type="hidden" class="form-control" name="old_username" value="{{ user }}">
              <input type="text" class="form-control" name="new_username" value="{{ user }}">
             </div>
        </form>
                    <form method="POST" action ="{{ url_for('update_computername') }}">
                 <div class="col-md-3" id="computer_name">
          <label class="fw-semibold"> COMPUTER NAME</label>
                     <button id="computer_name_check" class="btn " type="button" data-bs-toggle="modal" data-bs-target="#modal_com_name_check"><a href="#"><img src="static/icons/check.png" id="check_button"></a></button>
    <div class="modal" id="modal_com_name_check">
    <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">UPDATE CHANGES</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to update this field?</p>
      </div>
      <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Confirm</button>
            <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Cancel</button>

      </div>
    </div>
  </div>
</div>
              <input type="hidden" name="field" value="Computer Name">
              <input type="hidden" name="id" value="{{ id }}">
              <input type="hidden" class="form-control" name="old_computername" value="{{ computer_name }}">
              <input type="text" class="form-control"  name="new_computername" value="{{ computer_name }}">
             </div>
                    </form>
         <form method="POST" action ="{{ url_for('update_ip') }}">
        <div class="col-md-3" id="ip">
          <label class="fw-semibold">IP ADDRESS</label>
            <button id="IP_check" class="btn " type="button" data-bs-toggle="modal" data-bs-target="#modal_IP_check"><a href="#"><img src="static/icons/check.png" id="check_button"></a></button>
    <div class="modal" id="modal_IP_check">
    <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">UPDATE CHANGES</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to update this field?</p>
      </div>
      <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Confirm</button>
            <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Cancel</button>

      </div>
    </div>
  </div>
</div>
                <input type="hidden" name="field" value="Ip Address ">
              <input type="hidden" name="id" value="{{ id }}">
              <input type="hidden" class="form-control" name="old_ip" value="{{ ip }}">
              <input type="text" class="form-control"  name="new_ip" value="{{ ip }}" >
             </div>
             </form>
         <form method="POST" action ="{{ url_for('update_asset_tag') }}">
        <div class="col-md-3" id="asset_tag">
          <label class="fw-semibold">ASSET TAG</label>
            <button id="asset_check" class="btn " type="button" data-bs-toggle="modal" data-bs-target="#modal_asset_check"><a href="#"><img src="static/icons/check.png" id="check_button"></a></button>
    <div class="modal" id="modal_asset_check">
    <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">UPDATE CHANGES</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to update this field?</p>
      </div>
      <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Confirm</button>
            <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Cancel</button>

      </div>
    </div>
  </div>
</div>
                <input type="hidden" name="field" value="Asset Tag ">
              <input type="hidden" name="id" value="{{ id }}">
              <input type="hidden" class="form-control" name="old_asset_tag" value="{{ asset_tag }}">
              <input type="text" class="form-control"  name="new_asset_tag" value="{{ asset_tag }}">
             </div>
         </form>
        <form method="POST" action ="{{ url_for('update_serial_number') }}">
        <div class="col-md-3" id="serial_number">
          <label class="fw-semibold">SERIAL NUMBER</label>
            <button id="serial_check" class="btn " type="button" data-bs-toggle="modal" data-bs-target="#modal_serial_check"><a href="#"><img src="static/icons/check.png" id="check_button"></a></button>
    <div class="modal" id="modal_serial_check">
    <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">UPDATE CHANGES</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to update this field?</p>
      </div>
      <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Confirm</button>
            <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Cancel</button>

      </div>
    </div>
  </div>
</div>
             <input type="hidden" name="field" value="Serial Number" >
              <input type="hidden" name="id" value="{{ id }}">
              <input type="hidden" class="form-control" name="old_serial_number" value="{{ serial_number }}">
              <input type="text" class="form-control" name="new_serial_number" value="{{ serial_number }}">
             </div>
            </form>

                </div>
            </div>


        </div>
    </div>


        <div class="col-md-3" >
            <div class="row" >
                 <div class="mb-3" >
                <div class="modal-like-form2" >
                    <h4 class="modal-like-header">PROCESSOR</h4>
        <div class="col-md-3" id="cpu_details">
          <label class="fw-semibold">DETAILS</label>
            <button id="details_check" class="btn " type="button" data-bs-toggle="modal" data-bs-target="#modal_details_check"><a href="#"><img src="static/icons/check.png" id="check_button"></a></button>
                               <div class="modal" id="modal_details_check">
                                   <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">UPDATE CHANGES</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to change this?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary">Confirm</button>
      </div>
    </div>
  </div>
</div>
              <textarea type="text" class="form-control" name="processor" >{{ processor }}</textarea>
             </div>
                    <hr>
<h4 class="modal-like-header">OPERATING SYSTEM</h4>
                            <div class="col-md-3" id="OS_combo_box">
          <label class="fw-semibold">TYPE</label>
                                <button id="type_check" class="btn " type="button" data-bs-toggle="modal" data-bs-target="#modal_type_check"><a href="#"><img src="static/icons/check.png" id="check_button"></a></button>
                               <div class="modal" id="modal_type_check">
                                   <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">UPDATE CHANGES</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to change this?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary">Confirm</button>
      </div>
    </div>
  </div>
</div>
                <textarea class="form-control" name="os"> {{ os }}</textarea>
            </div>
            <hr>
            <h4 class="modal-like-header"> MOTHERBOARD</h4>

          <div class="col-md-3" id="motherboard_details">
          <label class="fw-semibold">DETAILS</label>
              <button id="mb_details_check" class="btn " type="button" data-bs-toggle="modal" data-bs-target="#modal_mb_details_check"><a href="#"><img src="static/icons/check.png" id="check_button"></a></button>
                               <div class="modal" id="modal_mb_details_check">
                                   <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">UPDATE CHANGES</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to change this?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary">Confirm</button>
      </div>
    </div>
  </div>
</div>
              <input type="text" class="form-control" name="motherboard" value=" {{ motherboard }}">
             </div>
                </div>
            </div>

            </div>

    </div>

    <div class="col-md-3 " >
            <div class="row">
                 <div class="mb-3">
                <div class="modal-like-form2">
                    <h4 class="modal-like-header">RAM</h4>

                             <div class="col-md-3" id="ram_brand">
          <label class="fw-semibold">DETAILS</label> <button id="ram_check" class="btn " type="button" data-bs-toggle="modal" data-bs-target="#modal_ram_check"><a href="#"><img src="static/icons/check.png" id="check_button"></a></button>
                               <div class="modal" id="modal_ram_check">
                                   <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">UPDATE CHANGES</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to change this?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary">Confirm</button>
      </div>
    </div>
  </div>
</div>
              <input type="text" class="form-control" name="ram" value="{{ ram }}">
             </div>
                    <hr>
<h4 class="modal-like-header">STORAGE</h4>
                            <div class="col-md-3" id="size">
          <label class="fw-semibold">DETAILS</label>
                                <button id="storage_check" class="btn " type="button" data-bs-toggle="modal" data-bs-target="#modal_storage_check"><a href="#"><img src="static/icons/check.png" id="check_button"></a></button>
                               <div class="modal" id="modal_storage_check">
                                   <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">UPDATE CHANGES</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to change this?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary">Confirm</button>
      </div>
    </div>
  </div>
</div>
                <textarea type="text" class="form-control" name="storage"> {{ storage }}</textarea>
            </div>
            <hr>

            <h4 class="modal-like-header"> POWER SUPPLY</h4>

             <div class="col-md-3" id="ps_brand">
          <label class="fw-semibold">DETAILS</label>
                 <button id="ps_check" class="btn " type="button" data-bs-toggle="modal" data-bs-target="#modal_ps_check"><a href="#"><img src="static/icons/check.png" id="check_button"></a></button>
                               <div class="modal" id="modal_ps_check">
                                   <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">UPDATE CHANGES</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to change this?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary">Confirm</button>
      </div>
    </div>
  </div>
</div>
              <textarea type="text" class="form-control" name="power_supply"> {{ power_supply }}</textarea>
             </div>

                </div>
            </div>

            </div>

    </div>

    <div class="col-md-3 " >
            <div class="row">
                 <div class="mb-3">
                <div class="modal-like-form2">
                    <h4 class="modal-like-header">DEVICE STATUS</h4>

                           <div class="col-md-3" id="MS_combo_box">
          <label class="fw-semibold">MS OFFICE</label>
                <button id="ms_check" class="btn " type="button" data-bs-toggle="modal" data-bs-target="#modal_ms_check"><a href="#"><img src="static/icons/check.png" id="check_button"></a></button>
                               <div class="modal" id="modal_ms_check">
                                   <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">UPDATE CHANGES</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to change this?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary">Confirm</button>
      </div>
    </div>
  </div>
</div>
                                <input type="text" class="form-control" name="ms_office" value="{{ms_office}}">
            </div>

         <div class="col-md-3" id="comtag">
          <label class="fw-semibold">COMPUTER TAG</label>
             <button id="comtag_check" class="btn " type="button" data-bs-toggle="modal" data-bs-target="#modal_comtag_check"><a href="#"><img src="static/icons/check.png" id="check_button"></a></button>
                               <div class="modal" id="modal_comtag_check">
                                   <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">UPDATE CHANGES</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to change this?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary">Confirm</button>
      </div>
    </div>
  </div>
</div>
              <input type="text" class="form-control" name="computer_tag" value="{{computer_tag}}">
             </div>

        <div class="col-md-3" id="nettag">
          <label class="fw-semibold">NETWORK TAG</label> <button id="nettag_check" class="btn " type="button" data-bs-toggle="modal" data-bs-target="#modal_nettag_check"><a href="#"><img src="static/icons/check.png" id="check_button"></a></button>
                               <div class="modal" id="modal_nettag_check">
                                   <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">UPDATE CHANGES</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to change this?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary">Confirm</button>
      </div>
    </div>
  </div>
</div>
              <input type="text" class="form-control" name="network_tag" value="{{ network_tag }}">
             </div>


                    <div class="col-md-3" id="eset">
          <label class="fw-semibold">ESET</label> <button id="eset_check" class="btn " type="button" data-bs-toggle="modal" data-bs-target="#modal_eset_check"><a href="#"><img src="static/icons/check.png" id="check_button"></a></button>
                               <div class="modal" id="modal_eset_check">
                                   <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">UPDATE CHANGES</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to change this?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary">Confirm</button>
      </div>
    </div>
  </div>
</div>
              <input type="text" class="form-control" name="eset" value="{{eset}}">
             </div>


                   <div class="col-md-3" id="ups">
          <label class="fw-semibold">UPS</label> <button id="ups_check" class="btn " type="button" data-bs-toggle="modal" data-bs-target="#modal_ups_check"><a href="#"><img src="static/icons/check.png" id="check_button"></a></button>
                               <div class="modal" id="modal_ups_check">
                                   <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">UPDATE CHANGES</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to change this?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary">Confirm</button>
      </div>
    </div>
  </div>
</div>
              <input type="text" class="form-control" name="ups" value="{{ ups }}">
             </div>


          <div class="col-md-3" id="opstat">
          <label class="fw-semibold">OPERATIONAL STATUS</label> <button id="opstats_check" class="btn" type="button" data-bs-toggle="modal" data-bs-target="#modal_opstat_check"><a href="#"><img src="static/icons/check.png" id="check_button"></a></button>
                               <div class="modal" id="modal_opstat_check">
                                   <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">UPDATE CHANGES</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to change this?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary">Confirm</button>
      </div>
    </div>
  </div>
</div>
              <input type="text" class="form-control" name="op_stat" value="{{ op_stat }}">
             </div>


        </div>
             </div>
             </div>



                </div>
            </div>




</body>
{% include 'Footer.html' %}
</html>

 <script>
        {% if msg  %}
        // Display SweetAlert with success message
        Swal.fire({
            icon: 'success',
            title: 'Success',
            text: '{{ msg  }}',
        });
        {% endif %}
    </script>
